<h1>Edit Your Rating for: <%= @game.name %></h1>

<form method="post" action="/games/<%=@game.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="integer" name="rating_value" value="<%= @rating.rating_value %>">
  <input type="submit" value="submit">
</form>
