<h1>Welcome, <%= @user.username %></h1>

<h2>Your Games Library:</h2>
<% @user.games.each do |game| %>
  <h4><%= game.name %>   <a href="/games/<%= game.id %>/add_rating" value="<%= game.id %>"> Add A Rating</a>  </h4>
<% end %>

<br></br>

<p><a href="/">Home</a></p>
<p><a href="/logout">Log Out</a></p>
